{# Uncomment this if your page uses AJAX
{% set ajax = TRUE %}
#}

{% extends '@content/page.twig' %}

{# this brings in some useful macros for making forms
{% import '@util/formmacro.twig' as f %}
#}

{# this brings in some useful macros for making bootstrap modals
{% import '@util/modalmacro.twig' as f %}
#}

{# put a string in this block that will appear as the title of the page
{% block title %}
{% endblock title %}
#}

{% block links %}
{# <link> for non-css and non-type things#}
{% endblock links %}

{% block type %}
{# <link> for webfonts #}
{% endblock type %}

{% block css %}
{# <link> for any other CSS files you need #}
{% endblock css %}

{% block scripts %}
{# <script src=""></script> for any other JS files you need #}
{% endblock scripts %}

{% block setup %}
{# Any javascript you need that is NOT run on load goes in this block. NB you don't need <script></script> tags  here #}
{% endblock setup %}

{% block onload %}
{# Any javascript you need that MUST run on load goes in this block. NB you don't need <script></script> tags  here #}
{% endblock onload %}

{# If you include this, then the navigation bar in @util/page.twig will **NOT** appear
{% block navigation %}
{% endblock navigation %}
#}

{#
    Edit the file navbar.twig to change the appearance of the
    navigation bar. It is included by default from @util/page.twig
#}

{# uncomment this and delete header block to remove the <header> tag altogether
{% block pageheader %}
{% endblock pageheader %}
#}

{#
    If you have a standard header for all (most) pages then put the
    content in the file header.twig. It is included by @util/page.twig by
    default. You then don't need to have a header block either.
#}

{% block header %}
    <article class="col-md-12 mt-5">
        <h1 class="cntr">Welcome, {{ user.fullname }}!</h1>
    </article>
{% endblock header %}

{% block main %}
    </br>
    <h2>Statistics:</h2>
    <div class="row">
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">NOTES UPLOADED</h5>
                    <p class="card-text">{{ uploadcount }}</p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">NOTES REPORTED</h5>
                    <p class="card-text">{{ flagcount }}</p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">NOTES RATED</h5>
                    <p class="card-text">{{ ratecount }}</p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">AVG NOTE RATING</h5>
                    {% if avgrate is same as("No public uploads.") %}
                    <p class="card-text">{{ avgrate }}</p>
                    {% else %}
                    <p class="card-text">{{ avgrate }}/5</p>
                    {% endif %}    
                </div>
            </div>
        </div>
    </div>
    <br/>
    <h2>Badges:</h2>
    <h5>Hover over to see the accomplishment.</h5>
    <div class="row">
    {% set idx = 0 %}
    {% for key, badge in ackbadges %}  
        <div class="col-sm-2">
            <div class="card {{ badge[2] }}" data-toggle="tooltip" title="{{ badge[1] }}">
                <div class="card-body badges" >
                    {% if badge[2] == 'exists'%}
                        <img src="{{ base }}/assets/img/icons/{{ icons[idx] }}.svg" width="32" height="32" title="Bootstrap">
                        <h6 class="card-title"> {{ badge[0] }}</h6>  
                    {% else %}
                        <img src="{{ base }}/assets/img/icons/question-fill.svg" width="32" height="32" title="Bootstrap">
                    {% endif %}
                </div>
            </div>
        </div>
        {% set idx = idx + 1 %}
    {% endfor %}
    </div>
    

    {#<a href="#" data-toggle="tooltip" title="Some tooltip text!">Hover over me</a>#}
{% endblock main %}

{# uncomment this  and delete footer block to remove the <footer> tag altogether
{% block pagefooter %}
{% endblock pagefooter %}
#}

{#
    If you have a standard footer for all (most) pages then put the
    content in the file footer.twig. It is included by @util/page.twig by
    default. You then don't need to have a footer block either.
#}

{% block footer %}
{% endblock footer %}
